<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <data>

        <record id="test_model_view_search" model="ir.ui.view">
            <field name="name">test.model.view.search</field>
            <field name="model">test.model</field>
            <field name="arch" type="xml">
                <search>
                    <field name="name"/>
                    <field name="age"/>
                    <field name="reference"/>
                    <field name="gender"/>
                    <field name="dob"/>
                    <group expand="0" string="Group By">
                        <filter string="Gender" name="gender" context="{'group_by': 'gender'}"/>
                    </group>
                </search>
            </field>
        </record>

        <record id="test_model_view_tree" model="ir.ui.view">
            <field name="model">test.model</field>
            <field name="arch" type="xml">
                <tree>
                    <field name="name"/>
                    <field name="age"/>
                    <field name="reference"/>
                    <field name="gender"/>
                    <field name="dob"/>
                </tree>
            </field>
        </record>

        <record id="test_model_view_form" model="ir.ui.view">
            <field name="model">test.model</field>
            <field name="arch" type="xml">
                <form>
                    <sheet>
                        <group>
                            <group>
                                <field name="name"/>
                                <field name="age"/>
                            </group>
                            <group>
                                <field name="reference"/>
                                <field name="gender"/>
                            </group>
                            <group>
                                <field name="dob"/>
                            </group>
                        </group>
                    </sheet>
                </form>
            </field>
        </record>

        <record id="test_action" model="ir.actions.act_window">
            <field name="name">Test Data</field>
            <field name="res_model">test.model</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
                <p class="o_view_nocontent_smiling_face">
                    Add a new test data
                </p>
            </field>
        </record>

        <menuitem
                id="menu_test_root"
                name="Test Data"
                action="test_action"
                sequence="-100"/>
    </data>
</odoo>